---
layout: page
title: Blood Pressure Under Pressure
subtitle: Kill the Sillent Killer
use-site-title: true
---

<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

<div class="content">
  <div class="row section center-align">
    <div class="col-md-6 col-sd-12" style="margin:0 auto">
      <i class="fa fa-android fa-2x" aria-hidden="true"></i>
      <h2><b>Download the app here!</b></h2>
      <p>Here there is the current version of the app.</p>
      <div class="col-md-4">
        <a href="https://drive.google.com/uc?authuser=0&id=1-BoLc0EO-b_BzgIzcYT16CJb6loqHlMn&export=download" target="_blank"
        class="btn btn-default btn-block btn-lg"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
      </div>
    </div>
    <div class="col-md-6 col-sd-12" style="margin:0 auto">
      <i class="fa fa-code fa-2x" aria-hidden="true"></i>
      <h2><b>Checkout the Repo</b></h2>
      <p>Take a look to the source code!</p>
        <a href="https://github.com/sergio-gimenez/BPUP-AndroidClient/" target="_blank"
        class="btn btn-default btn-block btn-lg"><i class="fa fa-github" aria-hidden="true"></i> Github Repository</a>
    </div>
  </div>
  <div class="row section center-align" style="margin:0 auto">
    <i class="fa fa-book fa-2x" aria-hidden="true"></i>
    <h2><b>A little bit about us...</b></h2>
    <div class="content-block center-align">
      <p>
        It is intended to move from an initial situation where - according to
        international studies that have been done previously mentioned,
        resources are lacking to address the problems of arterial hypertension
        - to a controlled situation, bringing us the technology and
        The procedures we deem opportune, under the guidance of doctors
        specialists, to achieve an evolution in the treatment of HTA using
        resources that use less energy and that are easier to use for users
        without technical preparation.
      </p>
      <p>
         It is intended, therefore, to reduce the ignorance of cardiovascular
         diseases, increase adherence to treatment and increase the number
         of treatments. In the long term, it is intended to reduce the number
        of deaths due to cardiovascular diseases.
      </p>
    </div>
  </div>

  <div class="row section center-align">
    <!--<div class="col-md-6 col-sd-12"-->    --
      <h1>Contributors</h1>
    <!--</div>-->
      <img src="/img/collaborators.jpg" alt="Project Collaborators">
  </div>


</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
